
  
  .register-card {
    background: #fff;
    padding: 0rem 5rem;
    width: 100%;
    text-align: center;
  }
  
  .register-card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .register-card p {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    color: #555;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input,
  .password-input-container input {
    width: 100%; /* Asegura que todos los inputs ocupen el mismo ancho */
    height: 44px; /* Define una altura consistente */
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; /* Incluye padding y borde en el ancho y alto */
  }
  
  .password-input-container {
    width: 100%; /* Asegura que el contenedor de la contraseña tenga el mismo ancho */
    height: 44px; /* Igual altura que los otros inputs */
    position: relative;
    margin-bottom: 1.5rem;
    
  }
  
  .password-input-container input {
    height: 100%; /* Asegura que el input dentro del contenedor ocupe toda la altura */
    padding-right: 40px; /* Espacio para el ícono */
  }
  
  .password-input-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #800020;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 137px;
  }
  
  .submit-button:hover {
    background-color: #a00028;
  }
  
  .terms {
    font-size: 0.8rem;
    color: #777;
    margin-top: 1rem;
  }
  
  .login-link {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .login-link a {
    color: #800020;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }

  .register-logo {
    display: block;
    margin: 0 auto 1rem auto; /* Center the logo and add spacing below */
    max-width: 100px; /* Adjust size as needed */
    height: auto;
  }