.albums-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
}

.albums-albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.albums-title {
    text-align: left;
    margin-bottom: 20px;
}

.albums-header {
    margin-top: 40px;
    margin-left: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.albums-header-button {
    padding: 3%;
}

.nouvelle-button {
    padding: 20px;
    min-height: 3%;
    background-color: #F0CFDF;
    color: #660033;
    border: none;
    border-radius: 1em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.nouvelle-button:hover {
    color: #660033;
}

@media (max-width: 768px) {
    .albums-container {
        max-width: 90%;
        margin: 0 10px;
    }

    .albums-header {
        margin-top: 20px;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .albums-header-text {
        margin-bottom: 20px;
    }

    .albums-albums {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .nouvelle-button {
        width: 100%;
        padding: 15px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .albums-albums {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .nouvelle-button {
        font-size: 0.8rem;
        padding: 10px;
    }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.confirm-button {
  background-color: #660033;
  color: #fff;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
  color: #000;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}